{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'res/images/logo.png' %}">
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css'>
    <link rel="stylesheet" href="{% static 'css/jquery-ui-1.12.1/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'css/material.min.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/wikigen.css' %}">
    <link rel="stylesheet" href="{% static 'css/data-table.css' %}">

    <!-- Title Page-->
    <title>Blink Statistics </title>

</head>

<body style="background-image: linear-gradient(to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%);">

<!-- Objectification Page-->


<div id="particles-js"></div>
<div id="WikiGen_content"></div>

<div id="top_div_2">
    <img style="float:left; margin-left: 20px; padding:10px; margin-top: 5px;"
         src="{% static 'res/images/wiki_name.png' %}" id="wikigen-logo" alt="wikigen">
    <span id="selected_article"></span> &emsp;
    <button type="button" id="change_article">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Change Article<i class="fas fa-angle-double-left"
                                                       style="font-size:16px;float:right;margin-left:15px;"></i>
    </button>
</div>

<div class="logged-in-user" style="display:none;">
    <i class="fas fa-user-circle "
       style="font-size:35px;margin-left:120px;position:relative; top:-80px;color:white;"></i>
    <div class="dropdown-content" style="position:absolute;top:-45px;">
        <a href="/#/"><i class="fas fa-user"
                         style="color:#ff7f2a;font-size: 20px; margin-left:10px;position:relative;top:20px;"></i>
            <p id="lusername" style="text-align:center;"></p></a>
        <a onclick="window.location.href='http://0.0.0.0:8000/dashboard-page/'">
            <i class="fas fa-calendar"
               style="color:#ff7f2a;font-size:20px;margin-left:10px;position:relative;top:20px;"></i>
            <p style=" text-align:center;cursor:pointer;">Dashboard</p></a>
        <a href="/#/"><i class="fas fa-sign-out-alt"
                         style="color:#ff7f2a;font-size: 20px; margin-left:10px;position:relative;top:20px;"></i>
            <p id="logout-submit" style="text-align:center;">Logout</p></a>
    </div>

</div>

<nav id="tabs">
    <ol style="margin-top:-30px;">
        <li class="tabs-item"><a href="/article-page/" id="article_tab_link"> <i class="fab fa-wikipedia-w"
                                                                                 style="font-size:15px;margin-right:10px;"></i>Article</a>
        </li>
        <li class="tabs-item"><a href="/edit-page/" id="edit_tab_link"> <i class="far fa-chart-bar"
                                                                           style="font-size:15px;margin-right:10px;"></i>Collaboration
        </a></li>
        <li class="tabs-item"><a href="/anchor-page/" id="anchor_tab_link"> <i class="fab fa-autoprefixer"
                                                                               style="font-size:15px;margin-right:10px;"></i>Anchoring
        </a></li>
        <li class="tabs-item"><a href="/blink-page/" id="blink_tab_link"> <i class="fas fa-chart-line"
                                                                             style="font-size:15px;margin-right:10px;"></i>Objectification</a>
        </li>
        <li class="tabs-item"><a href="/about-page/" id="about_tab_link"> <i class="fas fa-university"
                                                                             style="font-size:15px;;margin-right:10px;"></i>About</a>
        </li>

    </ol>


    <div id="article_tab">
        <div id="article_tab_content">
        </div>
    </div>

    <div id="edits_tab">
        <div id="edit_tab_content"></div>
    </div>

    <div id="anchor_tab">
        <div id="anchor_tab_content">
        </div>
    </div>

    <div id="blink_tab">
        <div id="blink_tab_content">
        </div>
    </div>

    <div id="about_tab">
        <div id="about_tab_content">
        </div>
    </div>
</nav>

<div id="blink_description_accordion" class="accordition_element">
    <h3 id="blink_description_accordion_header">Tab description (click to expand)</h3>
    <div style="font-size:16px;text-align:justify;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
        <p>Press <b>Generate Objectification Statistics</b> to search for links among all Wikipedia articles pointing at
            the currently selected article of interest. This analysis can reveal how many articles have references to
            the selected article over time.
            In terms of social representation, the statistics mirrors the process of <b>objectification</b> during which
            a representation is used as an anchor for other representations.
            <br><br>
            <span style="color: #4155ba; "><b>Note:</b></span> the analysis can take several hours. The analysis
            duration depends on the amount of article revisions.
        </p>
        <hr style="border: none;height: 3px; color: #333;background-color: #333;">
    </div>
</div>

<div id="generate_reference_button">
    <br>
    <button id="generate_reference_stat">Generate Objectification Statistics</button>
    <br>
    <style>
        #generate_reference_stat {
            display: flex;
            padding: 10px 45px;
            text-decoration: none;
            font: 18px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
            color: white;
            background: rgba(39, 39, 39, 0.83);
            transition: 2s;
            box-shadow: 3px 3px 0 rgb(105, 103, 103);
            transform: skewX(-1deg);
        }

        #generate_reference_stat:focus {
            outline: none;
        }

        #generate_reference_stat:hover {
            transition: 0.5s;
            box-shadow: 5px 5px 0 rgb(231, 136, 28);
        }
    </style>
</div>

<form id="blink_stats_loading_form">
    <div id="blink_progressbar_div"><p style="margin:2px;">Wait for analysis to complete: <span> </span></p></div>
    <div id="blink_progressbar"></div>
</form>

<br>

<div id="nora_content" style="height: 40px;"></div>

<form id="loading_blcount" style="margin-top: 1em; margin-left:50px;">
    <br>

</form>

<form style="margin-top: 1em;">
    <div id="progress_content1"></div>
    <div id="progress_content2"></div>
    <div id="progress_content3"></div>
</form>

<div style="margin-top: 1em;">
    <div id="blink_results">
        <p><b> Article Objectification Results:</b></p>
        <div id="blink_graph_part" class="accordition_element">
            <h3 id="blink_graph_part_header"><b>Reference Graph</b> (click to expand)</h3>
            <div>
                <i class="fa fa-info-circle" title="click to get info" style="font-size: 20px;" id="blink_graph_i"></i>
                <div style="margin-top: 1em;margin-left: 2em;"><p><b>Choose the type of backlinks</b></p></div>
                <div style="margin-top: 1em;">
                    <div id="reference_type" style="margin-left: 2em;">
                        <input type="radio" id="o_references" name="radio" checked="checked"><label for="o_references">Combined</label>
                        <input type="radio" id="def_references" name="radio"><label for="def_references">In
                        Definitions</label>
                        <input type="radio" id="rest_references" name="radio"><label for="rest_references">In
                        Text</label>
                        <input type="radio" id="cat_references" name="radio"><label for="cat_references">Among
                        Categories</label>
                        <input type="radio" id="indirect_references" name="radio"><label for="indirect_references">Indirect</label>
                        <input type="radio" id="cwoi_references" name="radio"><label for="cwoi_references">Combined w\o
                        indirect</label>
                    </div>
                </div>
                <div style="margin-top: 1em;">
                    <div id="timeline_content" style="width:98%;height:500px;"></div>
                </div>
            </div>
        </div>


        <br>
        <div id="references_list_accordion" class="accordition_element">
            <h3>Reference Table</h3>
            <div>
                <i class="fa fa-info-circle" title="click to get info" style="font-size: 20px;margin-bottom:10px;"
                   id="blink_table_i"></i>
                <div id="list_content"></div>
            </div>
        </div>

        <div id="generation_stopped" title="No article selected!">
            <p>Statistic generation was stopped!</p>
        </div>
    </div>
</div>
<a id="to-top-button"></a>


<div id="blink_graph_i_dialog" class="help_dialog" title="Backlink Graph">
    <p>This section displays two graphs showing the number of articles pointing at the chosen article (<b>backlinks</b>).
        The year of reference is the year when a reference was first introduced to an article. </p>

    <p>For example, if a link to Einstein was introduced to the Physics article in the year 2009, the statistics would
        add one backlink for the year 2009. If an article contains several links pointing at the article of interest, it
        is considered as one backlink.</p>

    <p>Both graphs use the same data and can be used for comparison between different types of backlinks. There are 5
        different types of backlinks:</p>

    <p style="margin-left: 2em;">Backlinks<b> in definitions</b>: articles where a reference is present in the
        definition section of the article.</p>

    <p style="margin-left: 2em;">Backlinks<b> in text</b>: articles where a reference is present in the rest of the
        article following the definition section</p>

    <p style="margin-left: 2em;">Backlinks <b>among categories</b>: if the chosen article is a category, all articles
        assigned to this category are counted as references type: Among cagtegories</p>

    <p style="margin-left: 2em;"><b>Indirect</b> backlinks: articles which point at the article indirectly by using
        Wikipedia templates. (See template definition: <a href="http://en.wikipedia.org/wiki/Help:Template"
                                                          target="_blank">http://en.wikipedia.org/wiki/Help:Template</a>)
    </p>

    <p style="margin-left: 2em;"><b>Combined</b>: all backlinks, no matter which of the aforementioned types they
        belong.</p>

    <p>Additionally, you can choose to display the <b>combined w\o indirect</b> backlinks meaning that the combined
        number of backlinks without indirect links will be shown.</p>

    <p>The two graphs show both a number of backlinks per year as bars and the cumulative amount number as a line.</p>

</div>

<div id="blink_table_i_dialog" class="help_dialog" title="Backlink Graph">
    <p>The contain the detailed <b>list of all referencing articles</b> (backlinks) including the year when the
        reference was added to the article and the information about whether the reference was found in the
        definition\introduction part of the article, in the remaining text of the article or among categories the
        article is assigned to.</p>

    <p>All definitions are coherent with those in the section (<b>Reference graph</b>).</p>

    <p>The table can be filtered and sorted in the similar way as it was described in detail for the section <b>Anchor
        table</b> in <b>Anchoring Statistics</b> tab. </p>

    <p>Additionally, you can click on any referencing article to open it in a new window. That might be of interest if
        you want to see the reference in the context of the article content.</p>

</div>
<br>


<script src="{% static 'js/jquery-related/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'css/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>

<script src="{% static 'js/src-frontend/get_article_name.js' %}"></script>

<script src="{% static 'js/flot/jquery.flot.js' %}"></script>
<script src="{% static 'js/flot/jquery.flot.multi.js' %}"></script>
<script src="{% static 'js/flot/jquery.flot.selection.js' %}"></script>
<script src="{% static 'js/flot/jquery.flot.dashes.js' %}"></script>
<script src="{% static 'js/flot/jquery.flot.resize.js' %}"></script>


<script src="{% static 'js/wikigen-frontend/wikigen_statistics.js' %}" type="application/javascript"></script>
<script src="{% static 'js/wikigen-frontend/wikigen_ploting.js' %}" type="application/javascript"></script>
<script src="{% static 'js/wikigen-frontend/wikigen_config.js' %}" type="application/javascript"></script>
<script src="{% static 'js/wikigen-frontend/wikigen_utils.js' %}" type="application/javascript"></script>


<script src="{% static 'js/jquery-related/jquery.tinysort.min.js' %}"></script>
<script src="{% static 'js/jquery-related/jquery.tagcloud.js' %}"></script>
<script src="{% static 'js/jquery-related/jquery.dataTables.min.js' %}"></script>


<!-- Page specific js -->
<script src="{% static 'js/login/login.js' %}"></script>
<script src="{% static 'js/registration/registration.js' %}"></script>
<script src="{% static 'js/user/profile.js' %}"></script>
<script src="{% static 'js/src-frontend/blink_statistics.js' %}" type="application/javascript"></script>

</body>
</html>