{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dashboard</title>
    <link rel="icon" href="{% static 'res/images/logo.png' %}">

    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css'>
    <link rel="stylesheet" href="{% static 'css/jquery-ui-1.12.1/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'css/chart.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
</head>

<body>
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">
        <img src="{% static 'res/images/wiki_name.png' %}" id="wikigen-logo" alt="logo">
    </a>
</nav>
<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <br>
                <ul class="nav flex-column">

                    <li class="nav-item">
                        <a class="nav-link article-menu-link" href="#" id="dashboard-articles">
                            <i class="fas fa-newspaper"></i>&nbsp;Articles
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" id="dashboard-categories">
                            <i class="fas fa-bezier-curve"></i>&nbsp;Categories
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fas fa-address-card"></i>&nbsp;<span id="lusername">Profile</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#" id="logout-submit">
                            <i class="fas fa-sign-out-alt sign-out-icon"></i>&nbsp;Logout
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4" id="content-holder"></main>

<script src="{% static  'js/jquery-related/jquery-3.3.1.min.js' %}"></script>
<script src="{% static  'js/login/login.js' %}"></script>
<script src="{% static  'js/registration/registration.js' %}"></script>
<script src="{% static  'js/user/profile.js' %}"></script>
<script src="{% static  'js/bootstrap/bootstrap.min.js' %}"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="{% static  'js/moment/moment.min.js' %} "></script>
<script src="{% static  'js/chart/Chart.bundle.min.js' %} "></script>
<script src="{% static  'js/api/dashboard.js' %} "></script>
<script src="{% static  'js/api/article-index.js' %} "></script>
<script src="{% static  'js/api/category-index.js' %} "></script>
<script src="{% static  'js/api/category-pie-chart.js' %} "></script>
<script src="{% static  'js/api/charts.js' %} "></script>
<script src="{% static  'js/api/chart_utils.js' %} "></script>
<script src="{% static  'js/lib/table.js' %} "></script>
<script src="{% static  'js/lib/button.js' %} "></script>
<script src="{% static  'js/lib/chart-markup.js' %} "></script>
<script src="{% static  'js/lib/date-picker.js' %} "></script>
<script src="{% static  'js/jquery-related/jquery-ui.js' %} "></script>
</body>
</html>